.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 8px;
}
